.idea/
/node_modules
/src/htdocs/dist/
/var/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/src/plib/config/secrets/prod/prod.decrypt.private.php
/src/htdocs/bundles/
/src/plib/var/
/src/plib/vendor
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
